exclude: ".*/data/.*|.maint/.*_author.*.py|.vscode/.*.json"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.*\.svg'
      - id: end-of-file-fixer
        exclude: '.*\.svg'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: ^CHANGES.rst
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args: [ --fix, --show-fixes ]
      - id: ruff-format
ci:
  autoupdate_schedule: monthly
